<?xml version="1.0" encoding="UTF-8"?>

<configuration status="off"  monitorInterval="1800">
    <properties>
        <property name="LOG_HOME">${sys:user.home}/log4j2</property>
        <property name="APP_NAME">MyBox</property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36} %M() %L  %msg%xEx%n"/>
        </Console>
        <RollingRandomAccessFile name="DevLog" fileName="${LOG_HOME}/${APP_NAME}_dev.log"
                                 filePattern="${LOG_HOME}/$${date:yyyy-MM}/${APP_NAME}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36} %M() %L %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingRandomAccessFile>
        <File name="File" fileName="${LOG_HOME}/${APP_NAME}.log" >
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36} %M() %L  %msg%xEx%n"/>
        </File>
        <RollingFile name="RollingFile" fileName="${LOG_HOME}/${APP_NAME}_rolling.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM}/${APP_NAME}-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36} %M() %L %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="DEBUG" includeLocation="true">
            <appender-ref ref="Console"/>
            <appender-ref ref="DevLog"/>
        </root>
    </loggers>
</configuration>