
.root{
    -fx-font-size: 15px;
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}


.blue-label, .blue-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-text-fill: #2e598a;
}

.bold-blue-label, .bold-blue-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-text-fill: #2e598a;
    -fx-font-weight: bolder;
}


.darkRed-label, .darkRed-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-text-fill: #961c1c;
}


.bold-darkRed-label, .bold-darkRed-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-text-fill: #961c1c;
    -fx-font-weight: bolder;
}

.grayArea, .grayArea:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-text-fill: gray;
}

.blueArea, .blueArea:focused {
    -fx-background-color: blue ;
    -fx-background-insets: 10px ;
    -fx-text-fill: gray;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}


/*  http://fxexperience.com/2011/12/styling-fx-buttons-with-css/  */

.main-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    /*-fx-font-weight: bold;*/
    -fx-font-size: 1.0em;
    -fx-text-fill: white;
}

#main-button:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

#main-button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#main-button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}








